* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #eee;
	display: flex;
	justify-content: center;
}

.chart {
	display: grid;
	grid-template-rows: repeat(100, 1fr);
	grid-column-gap: 5px;
	height: 84vh;
	min-width: 90vw;
	padding: 0 10px;
	text-align: center;
}

.value {
	color: #eeeeee;
	position: relative;
	top: 0.4rem;
	width: 100%;
	font-size: 100%;
}

[class*="bar"] {
	border-radius: 5px 5px 0 0;
	transition: all .05s ease;
	background-color: #ff4136;
	grid-row-start: 1;
	grid-row-end: 101;
}

$totalRows: 100;

@mixin chartValue($data) {
	$result: $totalRows - $data;
	grid-row-start: $result;
}

@for $i from 1 through $totalRows {
	.bar-#{$i} {
		@include chartValue($i);
	}
}

.animation-speed {
	direction: rtl;
}
